.containerOne{
    background-image: url('https://i.postimg.cc/c406rDfz/hero.jpg');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
}

.menuItems>ul{
    display: flex;
    justify-content: space-around;
    gap: 20%;
    list-style: none;
    margin-top: 12%;
}

.brandname{
    margin-top: 2%;
}

.branding{
    position: static;
    text-align: center;
    margin-top: 10%;
 }

 .branding>h2{
     font-size: 37px;
 }

 .branding>p{
    font-size: 24px;
}

 .mouseclick{
     text-align: center;
     margin-top: 13%;
 }

 .category{
     background-color: #c6bfa5;
     height: 12vh;
     text-transform: uppercase;
     display: flex;
     justify-content: space-between;
 }

 .gender>ul{
    display: flex;
    justify-content: space-around;
    gap: 20%;
    list-style: none;
    margin: 12%;
}

.seeproducts{
    margin: 2%;
    padding: 0.2rem;
    background-color: #661a00;
    color: white;
    height: 52%;
}

.clothes{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.aboutus{
    background-image: url("https://i.postimg.cc/T3m2RFPF/about.jpg");
    background-size: cover;
    height: 40vh;
    text-align: center;
    padding-top: 10%;
    color: white;
    
}

.innerAboutUs{
    margin: auto auto;
    width: 50%;
}

button{
    border: none;
    padding: 5px 12px;
    margin: 10%;
}

.sale{
    background-color: #535154;
    color: #fff;
    display: flex;
    justify-content: start;
    padding-left:2% ;
}

.socials{
    background-color: #414141;
    display: flex;
    justify-content: space-between;
    
}

.socialmedia>ul{
    
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.socialmedia>h3{
text-align: center;
}

footer{
    padding: 1%;
    text-align: center;
    background-color: #414141;
    color: white;
}